rdkit-pypi; platform_system == "Windows"
rdkit; platform_system != "Windows"
numpy
pandas
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
shap
umap-learn
torch
torch-geometric
transformers
tokenizers
tqdm
imbalanced-learn
streamlit
py3Dmol
joblib
